html {
  font-size: 10px;
}

body {
  @extend %clearfix;
  max-width: 1000px;
  margin: 5rem auto;
  position: relative;
  padding: 0 2rem;

  @include tabletLandscape {
    padding: 0;
  }

}

.sidebar {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  box-sizing: border-box;
  border: 1px solid $grey-dark;
  background-color: $white;
  padding: 2rem;

  @include tabletLandscape {
    position: relative;
    float: right;
    max-width: 19%;
    border-left: 2px solid $grey-medium;
    border-right: none;
    border-bottom: none;
    border-top: none;
    margin-top: -2rem;
    padding-bottom: 2rem;
    background-color: transparent;
    padding: 0;
  }

}

.main-content-wrapper {
  max-width: 80%;
  float: left;
  clear: left;
  font-size: 1.6rem;
}

.main-content {
  padding-top: 5rem;
}

.section {
  margin-bottom: 5rem;
}

.inline {
  display: inline-block;
}
