html {
  font-size: 10px;
}

body {
  @extend %clearfix;
  max-width: 1000px;
  margin: 5rem auto;
}

.sidebar {
  float: right;
  max-width: 19%;
  border-left: 2px solid $grey-medium;
  margin-top: .5rem;
}

.main-content-wrapper {
  max-width: 80%;
  float: left;
  clear: left;
  font-size: 1.4rem;
}

.inline {
  display: inline-block;
}
