.hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

%clearfix {
  
  &:after {
    content: "";
    display: table;
    clear: both;
  }

}

%zeroMargin {
  margin: 0 0 1rem 0;
}

@mixin tablet {
  @media (min-width: $tabletWidth) { @content; }
}

@mixin tabletLandscape {
  @media (min-width: $tabletLandscapeWidth) { @content; }
}

@mixin desktop {
  @media (min-width: $desktopWidth) { @content; }
}

@mixin desktopWide {
  @media (min-width: $desktopWideWidth) { @content; }
}
