.accordion-trigger {
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.8rem;
}

.accordion-content {
  max-height: 0;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);

  &.accordion-expanded {
    display: block;
    overflow: hidden;
    height: auto;
    max-height: 9999px;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  }

}
