.resume-accordion {
  position: relative;
}

.resume-actual {
  padding: 3rem;
  margin-bottom: 2rem;
}

.resume-header {
  margin-bottom: 3rem;
}

.resume-title {
  font-size: 2.6rem;
}

.resume-address {
  font-size: 2rem;
}

.hide-resume {
  position: absolute;
  bottom: 0;
  right: 0;
}