.sidebar {

  .menu {
    display: flex;
    justify-content: space-around;

    @include tabletLandscape {
      display: block;
      padding-left: 2rem;
      padding-top: 7rem;
    }

  }
  
}

.resume-or,
.resume-download {
  display: none !important;

  @include tabletLandscape {
    display: inline-block !important;
  }

}

.skills-link,
.tools-link,
.about-link {
  display: none !important;

  @include tabletLandscape {
    display: block !important;
  }

}

.home-link {
  display: inline !important;

  @include tabletLandscape {
    display: inline-block !important;
    width: 100%;
  }
  
}
