.sidebar {

  .menu {
    display: flex;
    justify-content: space-around;

    @include tabletLandscape {
      display: block;
      padding-left: 2rem;
      padding-top: 7rem;
    }

  }
  
}

.resume-link
.portfolio-link {
}

.skills-link,
.tools-link,
.about-link,
.resume-or,
.resume-download {
  display: none !important;

  @include tabletLandscape {
    display: block !important;
  }

}
