.sidebar {

  .menu {
    display: flex;
    justify-content: center;

    @include tabletLandscape {
      padding-left: 2rem;
      padding-top: 7rem;
    }
    
  }
  
}

.resume-link
.portfolio-link {
  display: inline-block; 
  width: 50%;
}

.skills-link,
.tools-link,
.about-link,
.resume-or,
.resume-download {
  display: none !important;

  @include tabletLandscape {
    display: block !important;
  }

}
